body {
  background-color: red;
  color: blue;
}
h1,h2{
  text-align: center;
  color: white;
}

p{
  font-size: 30px;
}

.myclass{
    font-size: 100px;
}



/*
use this:
https://fonts.google.com/
just paste the link in your file
*/